<!DOCTYPE html>
<html>
 <head>  
    <meta charset="utf-8">
    <title></title>
</head> 
<body>
    <article>
        {{>header}}
    </article>
    <p>{{weather}}</p>
</body>
    {{> footer}}
    <script>
        
    </script>
</html>